{
    "extends": ["@labkey/eslint-config-react"],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "usePrettierrc": true
            }
        ],
        "jsx-quotes": ["error", "prefer-double"],
        "quotes": ["error", "double"]
    }
}
