@use "sass:color";
// ImmuneSpace colors

// Main theme colors
$immune-blue: #0f91f2;
$pale-blue: #7ac2ea;
$bright-orange: #ff5b00;
$white: #FFFFFF;
$light-gray: #b4bbbf;
$dark-gray: #1a1a1a;
$dark-blue: #065c9c;

// Main theme colors
$highlight-primary: $dark-blue; // dark blue
$highlight-secondary: $bright-orange;
$primary: $immune-blue;
$secondary: $pale-blue;
$background: $dark-gray;

// Secondary colors
$blue:  #0074E9;
$bright-green: #20ED8A;
$bright-yellow: #FFF42E;
$light-orange: #F98E00;
$red: #FF3D17;
$indigo: #4F3EF7;
$green:  #22BA6A;
$gold: #EFB116;
$red-orange: #F44B00;
$pink: #FF314F;
$periwinkle: #7F74ED;
$pistachio:  #78C646;
$soft-yellow:  #F4E04E;
$amber: #D15400;
$dusty-rose: #CC5874;


// Other colors
$black: #000000;
$green: #71b300;
$green-hover: #4c9d45;
$gray: #344251;
$light-gray2: #d9e0e2;


/* TYPOGRAPHY */
$muli: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
$nunito-sans: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Didot 06 A", "Didot 06 B", "Georgia" Cambria, Times New Roman, Times,
  serif;
$serif2: "Didot 06 A", "Didot 06 B", "Georgia", Cambria, Times New Roman, Times,
  serif;
$sans-serif: $nunito-sans;

/* TEXT SIZES */
$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

/* FONT WEIGHTS */
$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--medium: 500;
$font-weight--semibold: 600;
$font-weight--black: 700;
$font-weight--bold: 800;
$font-weight--extrabold: 900;


// Data Finder colors
$pariticipant-color:  $periwinkle; 
$study-color: $pistachio; 
$sample-color: $amber; 
$sample-color-light: color.adjust($sample-color, $lightness: 20%)