// ImmuneSpace colors

// Main theme colors
$immune-blue: #0f91f2;
$pale-blue: #7ac2ea;
$bright-orange: #ff5b00;
$white: #FFFFFF;
$light-gray: #b4bbbf;
$dark-gray: #1a1a1a;

// Main theme colors
$highlight-primary: #255c97; // dark blue
$highlight-secondary: $bright-orange;
$primary: $immune-blue;
$secondary: $pale-blue;
$background: $dark-gray;

// Secondary colors
$blue:  #0074E9;
$bright-green: #20ED8A;
$bright-yellow: #FFF42E;
$light-orange: #F98E00;
$red: #FF3D17;
$indigo: #4F3EF7;
$green:  #22BA6A;
$gold: #EFB116;
$red-orange: #F44B00;
$pink: #FF314F;
$periwinkle: #7F74ED;
$pistachio:  #78C646;
$soft-yellow:  #F4E04E;
$amber: #D15400;
$dusty-rose: #CC5874;
