// ImmuneSpace colors

// Immune Blue: #0F91F2
// Pale Blue: #7AC2EA
// Bright Orange: #FF5B00
// White: #FFFFFF
// Light Grey: #B4BBBF
// Dark Grey: #1A1A1A

$highlight-primary: #255c97; // dark blue
$highlight-secondary: #ff5b00;
$immunespace-primary: #0f91f2;
$immunespace-secondary: #7ac2ea;
$immunespace-background: #1a1a1a;
$immunespace-lightgray: #b4bbbf;
