
@import "~@immunespace/theme/dist/variables";

.df-highlighted-button {
    margin: 9px 5px;
    background-color: $highlight-primary;
    border-radius: 2px;
    color: white;
    padding-top: 0;
    height: 20px;
    
    &:hover {
      border: 1px solid $highlight-primary;
      color: white;
    }
  }


.df-row-of-buttons {
    display: inline-block;
    width: 100%
  }
