@use "~@immunespace/theme/dist/immunespace";

.df-highlighted-button {
    margin: 9px 5px;
    background-color: immunespace.$highlight-primary;
    border-radius: 2px;
    color: white;
    padding-top: 0;
    height: 20px;

    &:hover {
        border: 1px solid immunespace.$highlight-primary;
        color: white;
        cursor: pointer;
    }
}

.df-row-of-buttons {
    display: inline-block;
    width: 100%;
}
